.projects-title {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
    .projects-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}