.about {
    /* background-color: #EAF2FD; */
    background-color: #E0F4FF;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .about {
        padding: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .about {
        padding: 4rem 6rem;
    }
}