.navbar {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
    }
    
}

@media screen and (min-width: 992px) {
    .navbar {
        padding: 2rem 6rem;
    }
}