:root {
  --color-primario: #984FEA;
  --color-secundario: #41D3BE;
  --color-terciario: #BBBBBB;
  --color-fondo: #363537;
  --color-fuente: #FAFAFA;
  --fuente-principal: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
  font-family: var(--fuente-principal)
}

/* colores principales */
.texto-fuente {
  color: var(--color-fuente);
}

.texto-primario {
  color: var(--color-primario);
}

.texto-secundario {
  color: var(--color-secundario);
}

.fondo-primario {
  background-color: var(--color-primario);
}

.fondo-secundario {
  background-color: var(--color-secundario);
}

.fondo-terciario {
  background-color: var(--color-terciario);
}

/* links */
.links a {
  font-size: 2rem;
  text-decoration: none;
}

.links a:hover i {
  scale: 1.1;
  color: var(--color-terciario);
}

/* navbar */
.navbar {
  height: 10vh;
}

/* header */
.header {
  height: 90vh;
}

/* main */
/* sección sobre mí */
.sobre-mi-imagen {
  display: none;
  width: 400px;
}

.sobre-mi-imagen .imagen-perfil {
  width: 100%;
  border-radius: 10px;
}

/* seccion proyectos */
.card {
  max-width: 600px;
}

.card-proyecto {
  margin: 0 auto;
}

.card-proyecto .card-body {
  height: 360px;
}

.portada-proyecto {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #D2D2D2;
}

/* sección habilidades */
.grilla-habilidades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1.5rem;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.habilidad:hover {
  cursor: pointer;
}

.card-body i {
  margin: 1rem 0;
}

/* media queries */
@media screen and (min-width: 768px) {
  .sobre-mi-imagen {
    display: inline-block;
  }

  .grilla-habilidades {
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .grilla-habilidades {
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
  } 
}